In [2]:
a=10

In [3]:
print (a)

10

In [ ]:
print ("hello")


print (10)


print (10, 20)


print (True)
print (False)


print ("Age is ", 18)

print (3.14)

In [ ]:
# "hello" > str
# 10  int
# True bool
# 3.14 float

# [] list

# () tuple

# {} dict

VALUE

In [ ]:
# VARIABLE


name_of_the_variable = VALUE




name = "TOM"
age = 19
sex = "M"
height = 4.5
is_living = True

# marks = [90,80,80]
# subjects = ["Math", "Eng", "Sci"]

# student_dct = {
#     "marks" : [90,80,80],
#     "subjects" : ["Math", "Eng", "Sci"],
#     "address": {
#         "street": "...",
#         "pincode": 678778
#     }
# }

In [11]:
name = "TOM"

# type( "TOM"  )

age = 19
type(age)
sex = "M"
type(sex)
height = 4.5
type(height)
is_living = True
type(is_living)

bool

In [15]:
age = "19" 
print (type(age))


# target_type_to_convert ( value_to_convert )


age_int  = int ( age  )

print (age_int + 1)
print(type(age_int))

<class 'str'>
20
<class 'int'>

In [16]:
age  = input("Enter your age : ")

print (age)

Enter your age : 19
19

In [ ]:
# Operators

In [ ]:
+
-
*
/
%

In [19]:
num1 = input("Enter input 1")
num2 = input("Enter input 2")


num1 = int(num1)
num2 = int(num2)

print (num1 + num2)


print ("Add: " + str(num1) + " + " + str(num2) + " = " + str(num1+num2)

print ("Add: %s + %s = %s" % (num1, num2 , num1+num2))

print ("Add: {} + {} = {}".format (num1, num2 , num1+num2))

print ("Add: {0} + {1} = {2}".format (num1, num2 , num1+num2))

print (num1 - num2)

print (num1 * num2)

print (num1 / num2)

Enter input 110
Enter input 220
30
Add: 10 + 20 = 30
-10
200
0.5

In [21]:
"hi" + "hello"

'hihello'